// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import "@fortawesome/fontawesome-free/css/all.css";
//function
@import 'bootstrap/scss/functions';
// Variables
@import 'bootstrap/scss/variables';

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);
// Create your own map
$custom-colors: (
    "custom-color-a":$green-500,
);
$custom-colors: (
    "custom-color-b":$yellow-200,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
// Bootstrap
@import 'bootstrap/scss/bootstrap';